//= require github
//= require utils
//= require presentation
//= include_self
//= require_tree ./

$box_border : #C4A478;
$lightBlue: #3bbfce;
$warning: #f00;
$base_bg: #fff;

html, body, div, h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

* {
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}

body {
    background: $base_bg;
}

.info-block {
	margin: 1em 2em;
	padding: 1em;
	border: 2px solid $box_border;
	border-radius: 10px;

	background: -moz-linear-gradient(top, rgba(0,0,0,0.38) 0%, rgba(0,0,0,0) 85%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.38)), color-stop(85%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.38) 0%,rgba(0,0,0,0) 85%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0,0,0,0.38) 0%,rgba(0,0,0,0) 85%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0,0,0,0.38) 0%,rgba(0,0,0,0) 85%,rgba(0,0,0,0) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(0,0,0,0.38) 0%,rgba(0,0,0,0) 85%,rgba(0,0,0,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#61000000', endColorstr='#00000000',GradientType=0 );
}

