{{define "base.header"}}
<!DOCTYPE html>
<html>
	<head>
		<title>{{.Title}}</title>
		{{if .Debug}}{{template "base.header.assets.debug" .}}{{else}}{{template "base.header.assets" .}}{{end}}
	</head>
	<body>
{{end}}

{{define "base.header.assets"}}
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<% ErbHelper::each_compiled_asset(ASSET_BUNDLES, @@sprockets) do |asset, prefix| %>
		<%= ErbHelper::asset_link(asset, prefix) %>
	<% end %>
{{end}}

{{define "base.header.assets.debug"}}
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<% ErbHelper::each_compiled_debug_asset(ASSET_BUNDLES, @@sprockets) do |asset, prefix| %>
		<%= ErbHelper::asset_link(asset, prefix) %>
	<% end %>
{{end}}


{{define "base.footer"}}
	</body>
</html>
{{end}}