{{define "base.header"}}
<!DOCTYPE html>
<html>
	<head>
		<title>{{.Title}}</title>
		{{if .Debug}}{{template "base.header.assets.debug" .}}{{else}}{{template "base.header.assets" .}}{{end}}
	</head>
	<body>
{{end}}

{{define "base.header.assets"}}
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script type="text/javascript" src="{{.RootURL}}/assets/js/application.js"></script>
		<link rel="stylesheet" type="text/css" href="{{.RootURL}}/assets/css/application.css">
{{end}}

{{define "base.header.assets.debug"}}
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script type="text/javascript" src="{{.RootURL}}/assets/js/libs/mod_loader.js"></script>
		<script type="text/javascript" src="{{.RootURL}}/assets/js/libs/deferred.js"></script>
		<script type="text/javascript" src="{{.RootURL}}/assets/js/libs/logger.js"></script>
		<script type="text/javascript" src="{{.RootURL}}/assets/js/helpers/properties.js"></script>
		<script type="text/javascript" src="{{.RootURL}}/assets/js/main.js"></script>
		<link rel="stylesheet" type="text/css" href="{{.RootURL}}/assets/css/application.css">
{{end}}


{{define "base.footer"}}
	</body>
</html>
{{end}}